{
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-classnames", "prettier-plugin-merge"],
    "useTabs": true,
    "tabWidth": 4,
    "printWidth": 100,
    "tailwindFunctions": ["tv"]
}